body {
   background-color: #44D6BD;
   font-family: sans-serif;
   color: #333;
   margin: 20px auto;
   width: 80%;
}

a {
   color: #9D68B7;
   text-decoration: none;
}

header {
   color: #fff;
   text-align: center;

   margin: 40px 40px 20px;
}

header h1 {
   font-size: 3rem;
   font-weight: 600;
   margin-bottom: 10px;
}

section {
   background-color: #ffffff;
   padding: 5%;

   border: solid 1px #666;
   border-radius: 5px;
   margin: 20px 2%;
   box-shadow: 10px 10px 0 #9D68B7;
}

section h2 {
   margin-top: 0;
}

.helpful-reminder {
   border: none;
   padding: 2%;
   margin: 2%;
   box-shadow: 10px 10px 0 #fff;
   color: #fff;
   background-color: #9D68B7;
}