body {
   background-color: #5CD7E8;
}

main {
   background-color: #ffffff;
   padding: 0px;
   border-radius: 5px;
   text-align: center;
}

.person-bio {
   vertical-align: top;
   display: inline-block;

   width: 22%;
   min-width: 180px;
   padding: 10px;
   margin: 2%;
   text-align: left;
}

.person-bio img{
   width: 100%;
   border-radius: 50%;
}

.email {
   word-wrap: break-word;
}

.email span {
   font-weight: 700;
   margin-right: 3px;
}