body {
   background-color: #5CD7E8;
   font-family: sans-serif;
   margin: 20px auto;
   width: 80%;
}

.description {
   margin-bottom: 40px;
   width: 80%;
   color: #333;
}

.description h1 {
   font-size: 2.5em;
   margin-bottom: 10px;
}

main {
   background-color: #ffffff;
   padding: 0px;
   border-radius: 5px;
   text-align: center;
}

.person-bio {
   vertical-align: top;
   display: inline-block;

   width: 18%;
   min-width: 180px;
   padding: 10px;
   margin: 2%;
   text-align: left;
}

.person-bio img{
   width: 100%;
   border-radius: 50%;
}

.email {
   word-wrap: break-word;
}

.email span {
   font-weight: 700;
   margin-right: 3px;
}